.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;

  &__input {
    height: 2rem;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 1rem;
    padding-left: 0.5rem;
    background-color: rgb(248, 248, 248);
    color: black;
    outline: none;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  .container-alert {
    display: contents;

    .alert-input {
      font-size: 10px;
      width: 10rem;
      color: rgb(240, 149, 149);
      position: relative;
      top: 2.5rem;
      left: -13.6rem;
    }
  }
}
