.list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 10px;
    list-style: none;
  }
}
